@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,600;1,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  /* color */
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;

  /* background */
  --backgroundPrimary: #0061df;

  /* padding */
  --padding: 0 130px;
}
