@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,600;1,700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;

  /* background */
  --backgroundPrimary: #0061df;

  /* padding */
  --padding: 0 130px;
  --width: 1440px;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;

  text-align: center;
  letter-spacing: -0.02em;

  /* text/1 */

  color: #0d263b;
}
.subTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  color: #0d263b;
}

.info {
  /* Paragraph/Small/Regular */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;

  color: #696969;
}

.inline {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 25px !important;
}

.slick-dots-bottom {
  width: inherit !important;
}
